
{{> head }}

    {{> nav }}


  <div class="row">

      <div class="col-8">
          <h1>Chile....</h1>

      </div>
      <div class="col-4">
          <img src="assets/img/descarga.jpg" class="img-thubnail">

      </div>

  </div>
    

   {{> footer}}
</body>
</html>